@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&family=Libre+Franklin:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&family=Libre+Franklin:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&family=Libre+Franklin:wght@300;400&display=swap");
html, body {
  background-color: #F3F3F3;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}

html, body {
  background-color: #F3F3F3;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}

.cabecalho {
  background-color: #0766AD;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
  color: white;
}

.cabecalho__titulo {
  padding: 12px 0 10px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.cabecalho__titulo strong {
  color: #C5E898;
}

.cabecalho__subtitulo {
  font-weight: 400;
  font-size: 0.95rem;
}

@media screen and (max-width: 480px) {
  .cabecalho {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .cabecalho__logo {
    width: 70px;
  }
}
html, body {
  background-color: #F3F3F3;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}

.container {
  background-color: #29ADB2;
  height: 98vh;
}

.container__titulo {
  padding: 40px 50px 15px 50px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}
.container__titulo strong {
  color: #C5E898;
}

.inserir__produtos input {
  width: 450px;
  display: block;
  margin: auto;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 2px solid #C5E898;
  border-radius: 10px;
  outline: none;
  background-color: #F3F3F3;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.312);
}
.inserir__produtos input::-moz-placeholder {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.inserir__produtos input::placeholder {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.inserir__produtos input:focus {
  border-color: #0766AD;
}
.inserir__produtos button {
  display: block;
  margin: auto;
  width: 150px;
  background-color: #0766AD;
  padding: 10px;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  color: white;
  border: 3px solid #0766AD;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.312);
  cursor: pointer;
}
.inserir__produtos button:hover {
  background-color: #C5E898;
  border-color: #C5E898;
  color: black;
  font-weight: bold;
}

.comprados,
.lista__compras {
  background-color: #F3F3F3;
  text-align: center;
  margin: 3% 15%;
  padding-bottom: 20px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.273);
  border-radius: 20px;
}
.comprados h2,
.lista__compras h2 {
  padding: 10px 0;
}
.comprados hr,
.lista__compras hr {
  margin: 0 30px;
}
.comprados li,
.lista__compras li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 30px;
}
.comprados li #icone__lixo,
.lista__compras li #icone__lixo {
  cursor: pointer;
}

.comprados ul {
  text-decoration: line-through;
  color: #9DBC98;
}

.lista__item {
  display: flex;
  align-items: center;
}

.checkbox__produto {
  display: none;
}

.lista__item__img {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  cursor: pointer;
}

.mensagem__erro {
  display: block;
  margin: 3px 10px 10px 10px;
  text-align: center;
  font-size: 0.8rem;
  color: red;
}

.footer {
  background-color: #0766AD;
  text-align: center;
  padding: 10px;
}
.footer p {
  color: white;
}
.footer p a {
  text-decoration: none;
  color: #C5E898;
}

@media screen and (max-width: 565px) {
  .footer {
    font-size: 0.8rem;
  }
  .inserir__produtos input {
    width: 250px;
  }
  .inserir__produtos button {
    width: 120px;
  }
}
@media screen and (min-width: 1100px) {
  .container__titulo {
    text-align: center;
    padding-bottom: 20px;
  }
  .inserir__produtos input {
    padding: 20px 25px;
    margin-bottom: 20px;
    width: 750px;
  }
  .inserir__produtos input::-moz-placeholder {
    font-size: 1rem;
  }
  .inserir__produtos input::placeholder {
    font-size: 1rem;
  }
  .inserir__produtos button {
    width: 150px;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */